{% macro insert_image(url, path, description) %}
  <a href="{{ url }}">
    {% if description is defined %}
      <img src="{{ url }}" alt="{{ path }}" title="{{ description }}" />
    {% else %}
      <img src="{{ url }}" alt="{{ path }}"/>
    {% endif %}
  </a>
{% endmacro %}

{% macro insert_video(video, width) %}
  <iframe src="{{ video }}" frameborder="0" allowfullscreen></iframe>
{% endmacro %}

{% macro insert_element(file) %}
    {% if file.type == 'image' %}
      {{ insert_image(file.url, file.path, file.description) }}
    {% elif file.type == 'video' %}
       {{ insert_video(file.url, 500) }}
    {% endif %}
    {% if file.description is defined %}
      {{ file.description }}
    {% endif %}
{% endmacro %}



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="OpenSpace, media, NASA, astrovisualization">
  <meta name="author" content="OpenSpace Team">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

  <style>
    footer {
      background-color: #55555f;
      color: #ededed;
      font-size: 20px;
      text-align: center;
    }

    iframe, img {
      width: 100%;
      height: auto;
    }

    .grid-sizer, .grid-item {
      width: 250px;
    }

    element {
      background-color: #dd2222;
    }
  </style>
</head>

<body>
<div class="title">
  <h1>OpenSpace Media</h1>
  <p>This page is currently an experiment and none of the images are released under any licenses <b>yet</b></p>
  {# <p>A collection of media samples created from OpenSpace that are free to used under the CC-BY license.</p> #}
</div>

<main>
{#   <div class="button-group filters-button-group">
    <button class="button is-checked" data-filter="*">show all</button>
    {% for tag in tags %}
      <button class="button" data-filter=".{{ tag }}">{{ tag }}</button>
    {% endfor %}
    <button class="button" data-filter=".no-tag-provided">no tags</button>
  </div>
 #}

  <div id="form-ui">
    <p>
    {% for tag in all_tags %}
      {% if tag in tag_names %}
        <label><input type="checkbox" value=".{{ tag }}" /> {{ tag_names[tag] }}</label>
      {% else %}
        <label><input type="checkbox" value=".{{ tag }}" /> {{ tag }}</label>
      {% endif %}
    {% endfor %}
    </p>
  </div>

  <div class="grid">
    <div class="grid-sizer"></div>
    {% for item in items %}
      {% if item.tags is defined %}
        <div class="grid-item {{ item.tags }} element">
      {% else %}
        <div class="grid-item no-tag-provided element">
      {% endif %}
      {{ insert_element(item) }}
      </div>
    {% endfor %}
  </div>
</main>
</body>



<footer>
  <div>OpenSpace Teams</div>
  <div><a href="https://openspaceproject.com">GitHub: OpenSpace Project</a></div>
</footer>


<script type="text/javascript">
  $(function() {
    $('.grid').imagesLoaded( function() {
      $('.grid').isotope({
        itemSelector: '.grid-item',
        percentPosition: true,
        stagger: 1,
        transitionDuration: 500,
        masonry: {
          columnWidth: '.grid-sizer'
        }
      })
    });

    let $checkboxes = $('#form-ui input');
    $checkboxes.change(function() {
      let inclusives = [];
      $checkboxes.each(function(i, elem) {
        if (elem.checked) {
          inclusives.push(elem.value);
        }
      });

      let filterValue = inclusives.length ? inclusives.join(', ') : '*';
      $('.grid').isotope({ filter: filterValue });
    });

  });
</script>

</html>
